/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 */

// Custom bootstrap variables must be set or imported *before* bootstrap.
@import "bootstrap";

@import "flexslider";

@import "font-awesome";


$overlayBadge: rgba(0,0,0,0.5);
$achievementBg: rgba(255,255,255,0.5);
$rekordBlue: #3e6c9b;

header {
  width: 100%;
  height: 50px;
  background: rgba(255,255,255,0.5);
  // border-bottom: 1px solid grey;
}

.logo {
  margin-top: 7px;
  margin-left: 10px;
  position: absolute;

}

.logo img{
  border: none;
  opacity: 0.9;
  width: 50%;
}

// Navigation

#nav_wrap
{
	margin-top:7px;
  margin-right: 10px;
  float: right;
}

#nav_wrap ul
{
	list-style:none;
	position:relative;
	float:left;
	margin:0;
	padding:0
}

#btnWrap {
  margin: 0 auto;
}

#btnWrap ul {
  list-style:none;
  position:relative;
  float:left;
  margin:0;
  padding:0
}

#btnWrap ul a {
  display:block;
  color:#333;
  text-decoration:none;
  font-weight:700;
  font-size:15px;
  line-height:32px;
  padding:0 15px;
  z-index: 999;
  position: relative;
}

#nav_wrap ul a
{
	display:block;
	color:#333;
	text-decoration:none;
	font-weight:700;
	font-size:15px;
	line-height:32px;
	padding:0 15px;
  z-index: 999;
  position: relative;
}

#nav_wrap ul li
{
	position:relative;
	float:left;
	margin:0;
	padding:0
}


#nav_wrap ul li:hover
{
  color: lightblue;
}

#nav_wrap ul ul
{
	display:none;
	position:absolute;
	top:100%;
	left:0;
	background:#fff;
	padding:0
}

#nav_wrap ul ul li
{
	float:none;
	width:150px
}

#nav_wrap ul ul a
{
	line-height:120%;
	padding:6px 15px;
  border-top: 1px solid black;
}

#nav_wrap ul ul ul
{
	top:0;
	left:100%
}

#nav_wrap ul li:hover > ul
{
	display:block
}

.rekordContent {
  background-color: $achievementBg;
}

#achievement {
  text-align: center;
}

p {
  text-align: center;
  line-height: 50px;
  margin: 0;
}


// background by
// <a href="http://www.freepik.com">Designed by Kjpargeter / Freepik</a>
body {
  font-family: 'Helvetica Neue', Helvetica, sans-serif;
  font-size: 15px;
  background-image: url(bg.jpg);
  background-size: cover;
  font-weight: 300;

}

h1, h2 {
  text-align: center;
  margin: 0px;
}

.app-cont p {
  text-align: justify;
}



.app-cont h1::before, .app-cont h1::after {
  content: "-";
  padding: 0 3px 0 3px;
}

a {
  text-decoration: none;
}


table {
  margin-bottom: 50px;
}

table thead {
  color: $rekordBlue;
  // opacity: 0.5;
}

th {
  padding: 0 0 0 10px;
  margin-bottom: 20px;
}

.cat {
  visibility: visible;
}

tr:hover td{
  visibility: visible;
}

tbody tr td {
  padding: 0 0 0 10px;

}

// Does not inherit
.Btn {
  &:hover {
    color: green;
  }

  &::before,
  &::after {
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    transform-origin: center;
  }

  &::before {
    border-top: 2px solid $rekordBlue;
    border-bottom: 2px solid $rekordBlue;
    transform: scale3d(0,1,1); // Shrink only width
  }

  &::after {
    border-left: 2px solid $rekordBlue;
    border-right: 2px solid $rekordBlue;
    transform: scale3d(1,0,1); // Shrink only height
  }

  &:hover::before,
  &:hover::after {
    transform: scale3d(1,1,1);
    transition: transform 0.5s;
  }
}

.Btn,.menu {
  background: none;
  border: 0;


  &::before,
  &::after {
    box-sizing: inherit;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
  }
}

.menu {
  &::before,
  &::after {
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    transform-origin: center;
  }

  &::before {
    border-bottom: 2px solid $rekordBlue;
    transform: scale3d(0,1,1); // Shrink only width
  }

  &:hover::before,
  &:hover::after {
    transform: scale3d(1,1,1);
    transition: transform 0.5s;
  }
}

#homeBtn {
  left: 10px;
  bottom: 20%;
}



#notice {
  position: absolute;
  right: 0px;
  background: green;
  // -webkit-animation: slide 0.5s forwards;
  -webkit-animation-delay: 1s;
  animation: slide 0.5s forwards;
  animation-delay: 1s;
  border-top-left-radius: 2px;
  border-bottom-left-radius: 2px;
}

@-webkit-keyframes slide {

    99% { right:  -800px;}
    50% { opacity: 0.5;   }
    100% {opacity: 0;}
}

@keyframes slide {
    99% { right:  -800px;}
    50% { opacity: 0.5;   }
    100% { opacity: 0;}
}


.new_profile {
  background-color: white;
  margin: 0 auto;
  width: 200px;
  padding: 10px;
  border: 1px solid grey;
  border-radius: 1%;
}

.new_profile .field, .new_profile .actions{
  margin: 10px 0 0 0;
}

.field label {
  left: 5px;
}


#error_explanation {
  width: 100%;
}

// bootstrap changes

.row {
  margin: 20px 15px 20px 15px;

}




#full {
  margin: 0px;
  // margin-top: 10px;

}
@-webkit-keyframes ShineAnimation{
    from {
        background-repeat:no-repeat;
        background-image:-webkit-linear-gradient(
            top left,
            rgba(255, 255, 255, 0.0) 0%,
            rgba(255, 255, 255, 0.0) 45%,
            rgba(255, 255, 255, 0.5) 48%,
            rgba(255, 255, 255, 0.8) 50%,
            rgba(255, 255, 255, 0.5) 52%,
            rgba(255, 255, 255, 0.0) 57%,
            rgba(255, 255, 255, 0.0) 100%
        );
        background-position:-100vw -100vw;
        background-size: 100vw 100vw
    }
    to {
        background-repeat:no-repeat;
        background-position: 130vw 100vw;
    }
}


// title overlayBadge
// TODO: color fixing

.full {
  width: 100%;
  // background-color: rgba(0,0,0,0.5);
  margin: 0;
  -webkit-animation-name: ShineAnimation;
   -webkit-animation-duration: 7s;
   -webkit-animation-iteration-count: infinite;
   -webkit-animation-timing-function: cubic-bezier(.12,.89,.98,.47);

}



.col h2 {

       margin:auto;
}

img {
  display: block;
  margin: 0 auto;

}

img:hover {
  // opacity: 1;
}

#tableBg {
  background-color: white;
  padding: 20px;
  border: solid 1px grey;
  opacity: 0.8;
}

.tableFix {
  background-color: white;
  padding: 20px;
  border: solid 1px grey;
  margin: 15px;
}

.tableContent {
  color: black;
  background-color: white;
}


// flexslider

ol.flex-control-nav, ol.flex-control-paging, ul.flex-direction-nav {
}

.flexslider {
  background: none;
  border: none;
}

.flex-direction-nav a {
  height: 50px;
}

.flex-control-nav {
  bottom: 50px;
  z-index: 999;
}

.flex-direction-nav a:before, .flex-deirection-nav a {
  text-shadow: none;
}


.centering {
  max-width: 800px;
  margin: 0 auto;
}


#opacer {
  opacity: 0.8;
}

.marginizer {
  margin-top: 83px;
}


#logoutBtnColor::before, #logoutBtnColor::after {
  border-color: #981723;
}


// categorie table styles

.categorieTableWrapper {

  max-width: 600px;
      margin: 0 auto;
}
i {
  color: $rekordBlue;
  font-size: 13px !important;
}
input {
   all: unset;
}

input {
  display: block;
color: #333;
text-decoration: none;
font-weight: 700;
font-size: 15px;
line-height: 32px;
padding: 0 15px;
z-index: 999;
position: relative;
}
