<p id="notice"><%= notice %></p>

<div class="centering" id="tableBg">

  <div class="row">
    <div class="col">
        <strong>Name:</strong>
        <%= @category.name %>
    </div>
    <div class="col">
<%= link_to '<i class="fa fa-file-text" aria-hidden="true"></i>'.html_safe, edit_category_path(@category) %>
    </div>
  </div>

<div class="row">
  <div class="col">
      <%= link_to '<i class="fa fa-arrow-left" aria-hidden="true"></i>'.html_safe, categories_path %>
  </div>
</div>


</div>
